.signup{
    border: 1px solid var(--light-blue);
    padding: 50px;
    text-align: left;
    width: 50vw;
    height: 60vh;

    input{
        display: block;
        margin: 15px 0 ;
        height: 30px;
        width: 40vw;
        border: 1px solid var(--light-blue);

    }

    button{
        background-color: var(--yellow);
        border: 0;
        padding: 10px 30px;
        border-radius: 5px;
        margin: 20px 0;
    }
}