
.share{
    margin: 30px;
    text-align: center;

    p{
        text-align: left;
    }
}

.emphasis-btn{
    background-color: var(--yellow);
    padding: 10px 20px;
    border: 0;
    border-radius: 15px;
  }