:root{

  --purple: #5E17EB;
  --light-purple: #8C52FF;
  --blue: #5271FF;
  --light-blue: #DADDFA;
  --yellow: #FFBD59;
  --gray-text:#828282;
  --light-gray: #F5F5F5;
}

.App {
  text-align: center;
}

h1,h2,h3 {
  font-family: 'Cabin', sans-serif;;
}

p{
  font-family: 'Quicksand', sans-serif;
}